<div class="account_type-field">
    <div class="switch">
        <input type="radio" value="personal" data-bind="click: click" attr="name: inputName,checked: value">
        <label for="radio-personal" data-bind="i18n: 'Personal'"></label>
    </div>
    <div class="switch">
        <input type="radio" value="business" data-bind="click: click" attr="name: inputName,checked: value">
        <label for="radio-business" data-bind="i18n: 'Business'"></label>
    </div>
</div>