<?php if($block->getMethod() == "tillit_payment") : ?>
<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Tillit Details')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <?php $data = $block->getAdditionalData(); ?>
        <div>
            <table>
                <?php if($block->getTillitOrderId($data) != '') : ?>
                <tr>
                    <td>Tillit Order Id : <?= $block->getTillitOrderId($data); ?></td>
                </tr>
                <?php endif; ?>
                <?php if($block->getInvoiceUrl($data) != '') : ?>
                <tr>
                    <td>Tillit Invoice : <a href="<?= $block->getInvoiceUrl($data); ?>" target="_blank"><?= __('Download') ?></td>
                </tr>
                <?php endif; ?>
            </table>
        </div>
    </div>
</section>
<?php endif; ?>
